{% extends "base.html" %}
{% block title %}CNsteem - FAQ {% endblock %}

{% block page_content %}
    <div class="page-header">
        <h4>常见问题如下，如遇其他问题，发邮件到 <a href='mailto:cnsteem@gmail.com' target='_blank'>cnsteem@gmail.com</a></h4>
    </div>


    <h4>1. 为什么在CNsteem注册要交钱？</h4>
    <blockquote><p>在Steem区块链上注册用户，需要向网络支付一定的steem加密货币<br/>
        CNsteem收取人民币，花费自身steem为用户完成注册</p>
    </blockquote>
    <h4>2. 为什么能在Steemit免费注册？</h4>
    <blockquote><p>Steemit公司为用户支付注册费用，但为防止垃圾注册，需要验证邮箱和电话，及长审核时间</p>
    </blockquote>
    <h4>3. 通过CNsteem和Steemit注册的账号有何区别?</h4>
    <blockquote><p>没有任何区别</p>
    </blockquote>
    <h4>4. 一个邮箱可以在CNsteem注册多少个帐号？</h4>
    <blockquote><p>同一邮箱可以CNsteem注册无数个帐号，邮箱只用于接收注册链接</p>
    </blockquote>
    <h4>5. Steem帐号会被注销吗？</h4>
    <blockquote><p>不会。在Steem上，只要你密钥不被盗，没人能控制你的帐号</p>
    </blockquote>
    <h4>6. 为什么CNsteem生成那么长的密码？</h4>
    <blockquote><p>防止其他人暴力破解你的账号，盗取里边的资金</p>
    </blockquote>
    <h4>7. 怎么才能修改帐号的密码？</h4>
    <blockquote><p>前往 <a href='https://steemit.com/' target='_blank'>https://steemit.com/</a>@你的用户名/password 进行修改</p>
    </blockquote>
    <h4>8. 密码忘记了，怎么找回？</h4>
    <blockquote><p>忘记主密码，没人能帮你找回</p>
    </blockquote>
    <h4>9. 帐号被盗，密码被修改，还记得旧密码，可以找回吗？</h4>
    <blockquote><p>可以。使用注册邮箱发邮件到 <a href='mailto:cnsteem@gmail.com' target='_blank'>cnsteem@gmail.com</a> 提出申请</p>
    </blockquote>
    <h4>10. CNsteem为什么不能帮我保存密码？</h4>
    <blockquote><p>Steem里存的是实实在在的金钱，金钱应该自己保管</p>
    </blockquote>
    <h4>11. CNsteem, Steemit, Busy的关系是什么？</h4>
    <blockquote><p>没有任何关系，三者代码都开源，都是建立在Steem区块链上的应用</p>
    </blockquote>

{% endblock %}