{% extends "base.html" %}
{% block title %}恭喜，注册成功! {% endblock %}

{% block page_content %}
<div class="page-header">
    <h2>注册成功，欢迎来到Steem</h2>

</div>
<div class="text-muted">
    <h4>首页建议新人前往阅读<a href="http://steemh.org/" target="_blank"> Steem中文指南</a></h4>
    <h4>如有问题，请前往 <a href="https://makeet.io"> Makeet </a>提问交流</h4>
    </br>

    <h4>登录Steem方式</h4>
    <br>
    <h4>1. 使用从CNsteem获取的用户名密码登录<a href="https://steemitwallet.com" target="_blank"> Steemit Wallet </a>
        获取 Posting Key, 通过Posting Key登录<a href="https://steemit.com" target="_blank"> Steemit</a></h4>
    </br>
    <h4>2. 使用从CNsteem获取的用户名密码登录<a href="https://steempeak.com/" target="_blank"> SteemPeak</a></h4>
    </br>
    <h4>欢迎下载并使用Steem最好的移动客户端<a href="https://partiko.app"> Partiko</a></h4>
    </br>
</div>
{% endblock %}