{% extends "base.html" %}
{% block title %}恭喜，注册成功! {% endblock %}

{% block page_content %}
<div class="page-header">
    <h2>欢迎来到Steem</h2>

</div>
<div class="text-muted">
    <h4>前往阅读<a href="http://steemit.wang" target="_blank"> Steem中文指南</a></h4>
    </br>
    <h4>关注CNsteem.com && CNsteem.io创建者<a href="https://steemit.com/@skenan" target="_blank"> skenan </a>及时获取更多信息</h4>
    </br>
    <h4>如果遇到各种技术问题，可以发邮件到cnsteem@gmail.com 或者去<a href="https://steemit.com/@skenan" target="_blank"> skenan </a>文章下留言
    </h4>
</div>
{% endblock %}