{% extends "base.html" %}
{% block title %}恭喜，注册成功! {% endblock %}

{% block page_content %}
<div class="page-header">
    <h2>注册成功，欢迎来到Steem</h2>

</div>
<div class="text-muted">
    <h4>前往阅读<a href="http://steemg.org/" target="_blank"> Steem中文指南</a></h4>
    </br>
    <h4>登录 <a href="https://steemit.com" target="_blank">Steemit</a> 官网修改密码</h4>
    </br>
    <h4>关注CNsteem.com && CNsteem.io创建者<a href="https://steemit.com/@skenan" target="_blank"> skenan </a>及时获取更多信息</h4>
    </br>
    <h4>如果在 Steem 发帖遇到 Voting weight is too small 错误, 可以前往<a href="/delegate">申请SP</a>满足日常操作</h4>
    </br>
</div>
{% endblock %}